/* ================= PAGE-WELCOME ================= */
.page-welcome * {
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

.page-welcome {
height:100vh;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
position:relative;
background:linear-gradient(-45deg,
#280606,
#660640,
#211d32,
#dc3235);

background-size:400% 400%;
animation:bgMove 10s infinite ease;
}

@keyframes bgMove {
0%{background-position:0 50%;}

50%{background-position:100% 50%;}

100%{background-position:0 50%;}
}

.page-welcome .container {
width:90%;
max-width:700px;

padding:40px;

text-align:center;

background:rgba(228, 219, 219, 0.15);

backdrop-filter:blur(12px);

border-radius:25px;

color:rgb(172, 144, 144);

box-shadow:0 20px 40px rgba(193, 177, 177, 0.3);

animation:fade 1.5s;
}

@keyframes fade {
from{
opacity:0;
transform:translateY(60px);
}

to{
opacity:1;
transform:translateY(0);
}
}

.page-welcome h1 {
font-size:60px;
margin:20px 0;
}

.page-welcome h2 {
font-size:30px;
}

.page-welcome h3 {
font-size:35px;
margin-bottom:20px;
}

.page-welcome p {
font-size:18px;
line-height:1.7;
margin-bottom:35px;
}

.page-welcome button {
padding:18px 45px;

font-size:20px;

border:none;

border-radius:40px;

cursor:pointer;

background:rgba(211, 130, 156,0.1);

color:hsl(339, 6%, 56%);

font-weight:bold;

transition:.4s;
}

.page-welcome button:hover {
transform:scale(1.08);

box-shadow:0 10px 30px rgba(0,0,0,.3);
}


100%{

transform:translateY(-120vh);

}
}

@media(max-width:768px) {
.page-welcome h1 {
font-size:40px;
}

.page-welcome h2 {
font-size:24px;
}

.page-welcome h3 {
font-size:26px;
}

.page-welcome p {
font-size:16px;
}

.page-welcome button {
font-size:18px;

padding:15px 35px;
}

.page-welcome .container {
padding:30px 20px;
}
}

.page-welcome .floating-elements {
position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
}

.page-welcome .floating-elements span {
position: absolute;
    bottom: -80px;
    font-size: 28px;
    animation: floatUp linear infinite;
    opacity: .9;
}

@keyframes floatUp {
0%{
        transform: translateY(0) rotate(0deg);
        opacity:0;
    }

    10%{
        opacity:1;
    }

    100%{
        transform: translateY(-120vh) rotate(360deg);
        opacity:0;
    }
}
